/****** Global ******/
body{
    background-color: white;
    font-family: serif;
    margin: 0;
    padding: 0;
}
.section{
    width: 88%;
    margin: auto;
    overflow: hidden;
}      
footer{
    padding: 10px;
    color: white;
    background: red;
    text-align: center;
    font-family: serif;
}

/*Main Navigiation*/
nav{
    text-align:center;
    padding-bottom: 50px;
}
ul{
    background-color: #F2F3F4;    
    margin: 10px 10px 10px 10px; 
}
ul li{
    display: inline-block;
    padding: 10px 10px 10px 10px;
    font-size: 22px;
    position: relative;
    float: right;
}
nav a{
    color: red;
    text-decoration: none;
    font-family: serif;
}
nav #current-page a{
    color: black;
    font-weight: bold;
}
nav a:hover{
    color: black;
    cursor: pointer;
}
ul li ul.dropdown {
    min-width: 100%; /* Set width of the dropdown */
    background: #f2f2f2;
    display: none;
    position: absolute;
    z-index: 999;
    right: 0;
}
ul li:hover ul.dropdown {
    display: block;	/* Display the dropdown */
}
ul li ul.dropdown li {
    display: block;
    padding-right: 50px;
}

/****** Homepage ******/
/*Main Image*/
#logo img{
    position: absolute;
    width: 250px;
    height: 45px;
}

/*Search Engine*/
#searchbar{
    color: white;
    background: black;
    border-bottom: black 6px solid;
}
#searchbar h1{
    float: left;
    margin-left: 100px;
    font-size: 30px;
}
#searchbar form{
    float: right;
    margin-top: 30px;
    margin-right: 100px;
}
#searchbar input[type="search"]{
    padding: 5px;
    width: 300px;
    height: 35px;
    border: white 3px solid;
}
#button{
    height: 36px;
    background: #F2F3F4;
    padding-left: 20px;
    padding-right: 20px;
    color: black;
    font-weight: bold;
}

/*Main Page Content*/
#mainpageContent{
    margin-top: 20px;
}
#mainpageContent .content{
    float: left;
    text-align: center;
    width: 25%;
    padding: 10px 50px 10px 50px;
}
#mainpageContent .content h2{
    color: red;
    font-style: italic;
    font-weight: bold;
    font-family: serif;
    font-size: 35px;
}
#mainpageContent .content p{
    font-size: 19px;
}

/****** Global ******/
body{
    background-color: white;
    font-family: serif;
    margin: 0;
    padding: 0;
}
.section{
    width: 88%;
    margin: auto;
    overflow: hidden;
}
footer{
    padding: 10px;
    color: white;
    background: red;
    text-align: center;
    font-family: serif;
}

/*Main Navigiation*/
nav{
    text-align:center;
    padding-bottom: 50px;
}
ul{
    background-color: #F2F3F4;
    margin: 10px 10px 10px 10px;
}
ul li{
    display: inline-block;
    padding: 10px 10px 10px 10px;
    font-size: 22px;
    position: relative;
    float: right;
}
nav a{
    color: red;
    text-decoration: none;
    font-family: serif;
}
nav #current-page a{
    color: black;
    font-weight: bold;
}
nav a:hover{
    color: black;
    cursor: pointer;
}
ul li ul.dropdown {
    min-width: 100%; /* Set width of the dropdown */
    background: #f2f2f2;
    display: none;
    position: absolute;
    z-index: 999;
    right: 0;
}
ul li:hover ul.dropdown {
    display: block;	/* Display the dropdown */
}
ul li ul.dropdown li {
    display: block;
    padding-right: 50px;
}

/****** Homepage ******/
/*Main Image*/
#logo img{
    position: absolute;
    width: 250px;
    height: 45px;
}

/*Search Engine*/
#searchbar{
    color: white;
    background: black;
    border-bottom: black 6px solid;
}
#searchbar h1{
    float: left;
    margin-left: 100px;
    font-size: 30px;
}
#searchbar form{
    float: right;
    margin-top: 30px;
    margin-right: 100px;
}
#searchbar input[type="search"]{
    padding: 5px;
    width: 300px;
    height: 35px;
    border: white 3px solid;
}
#button{
    height: 36px;
    background: #F2F3F4;
    padding-left: 20px;
    padding-right: 20px;
    color: black;
    font-weight: bold;
}

/*Main Page Content*/
#mainpageContent{
    margin-top: 20px;
}
#mainpageContent .content{
    float: left;
    text-align: center;
    width: 25%;
    padding: 10px 50px 10px 50px;
}
#mainpageContent .content h2{
    color: red;
    font-style: italic;
    font-weight: bold;
    font-family: serif;
    font-size: 35px;
}
#mainpageContent .content p{
    font-size: 19px;
}
#page_title{
    text-align: center;
    font-size: 40px;
    color:white;
    background-color: #fa4251;
    padding: 30px 0px 30px 0px;
    font-family: 'Nunito', sans-serif;
    width: 100%;
}
